<div class="main">

  <div class="left_bar">
    <h1>精鋭部隊</h1>
    
    <div class="log_in">
        <%= link_to current_user.username, user_path(id: current_user.id), class: "username" %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
    </div>

  </div>

  <div class="right_bar">
    <H2>お疲れ様でした</h2>
    <div id="day" class="day">
      <%= "#{@time.year}年#{@time.month}月#{@time.day}日" %>
      <div id="time" class="time">
      </div>
    </div>
    <div class="paying">
      <%= "本日の賃金は#{@wage.paying}円です"%>
    </div>
  </div>

</div>