.left_bar{
width: 30vw;
height: 100vh;
display: inline-block;
}

.log_in{
  display: flex;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
}

.username{
  color: blue;
  margin: 10px;
  font-size: 20px;
  text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
  -1px 1px 0 #FFF, 1px -1px 0 #FFF,
  0px 1px 0 #FFF,  0-1px 0 #FFF,
  -1px 0 0 #FFF, 1px 0 0 #FFF;
}

.logout{
  margin: 10px;
  font-size: 20px;
  text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
  -1px 1px 0 #FFF, 1px -1px 0 #FFF,
  0px 1px 0 #FFF,  0-1px 0 #FFF,
  -1px 0 0 #FFF, 1px 0 0 #FFF;
}

.signup{
  margin: 10px;
  text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
  -1px 1px 0 #FFF, 1px -1px 0 #FFF,
  0px 1px 0 #FFF,  0-1px 0 #FFF,
  -1px 0 0 #FFF, 1px 0 0 #FFF;
}

.login{
  margin: 10px;
  text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
  -1px 1px 0 #FFF, 1px -1px 0 #FFF,
  0px 1px 0 #FFF,  0-1px 0 #FFF,
  -1px 0 0 #FFF, 1px 0 0 #FFF;
}

.dakoku{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* jikans/index */
.member{
  color: black;
  font-size: 22px;
  text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
  -1px 1px 0 #FFF, 1px -1px 0 #FFF,
  0px 1px 0 #FFF,  0-1px 0 #FFF,
  -1px 0 0 #FFF, 1px 0 0 #FFF;
}

/* jikans/show */
.comment-box{
  text-align: center;
  padding: 15px;
}

.comment-text{
  width: 100%;
  height: 100px;
}

.comment-btn{
}