.right_bar{
  width: 70vw;
  background-image: url("y_kimetu.png");
}

.day{
  padding: 20px;
  display: flex;
}

.time{
  padding-left: 20px;
}

.wage{
  padding-left: 20px;
  color: blue;
}

.sum{
  padding-left: 20px;
}

.paying{
  color: blue;
  font-size: 20px;
  padding: 20px;
}

.Message{
  padding: 20px;
  font-size: 20px;
  color: blue;
}